<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="feature">
        </testsuite>
        <testsuite name="unit">
            <directory suffix=".php">./tests/Unit/Services/*/Cases/*/ChangePassword</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="/tests"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>
    <php>
        <env name="SEEDING" value="1"/>
        <env name="DB_PORT" value="33060"/>
    </php>
</phpunit>
